.build-container {
  display: none;
  /* flex-direction: column; */
  min-height: 100vh;

  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.build-child {
  display: flex;
  /* grid-column: span 2 / span 2; */
  height: 100%;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  padding: 1rem; /* 16px */
  padding-top: 3rem; /* 16px */
}


.detail-col {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* grid-column: span 1 / span 1; */
}

.detail-row {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; /* 8px */
  padding: 1rem; /* 16px */
  padding-top: 0rem; /* 16px */
  padding-bottom: 0.5rem; /* 16px */
}

.detail-imgs {
  display: flex;
  flex-direction: row;
  /* gap: 0.5rem; /* 8px */
}

.detail-img {
  height: 4rem; /* 64px */
  width: auto;
}

@media (min-width: 768px) {
  .md\:grid {
    display: grid;
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Alternating background colors: */
.\[\&\>li\:nth-child\(2n\)\]\:bg-gray-100>li:nth-child(2n) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.text-lg {
  font-size: 1.125rem
    /* 18px */
  ;
  line-height: 1.75rem
    /* 28px */
  ;
}

.font-semibold {
  font-weight: 600;
}

html {
  background: #e7e4db;
  color: black;
  font-family: opensans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 86%;
}

.albox {
  background: #d9d8d1;
  color: black;
  padding: 1em;
  margin: auto 5em;
  text-align: center;
}

footer {
  margin: auto 5em;
  margin-top: 2em;
  padding: 1em;
}

.titlebar {
  background: #580701;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1em;
}

.titlebar h1 {
  font-size: 120%;
  line-height: 1.5;
  padding: .25em;
}

.grid {
  display: grid;
  grid-template-columns: 6em 6em 6em;
  grid-template-rows: 6em 6em 6em 6em;
  column-gap: .5em;
  row-gap: .5em;
}

.grid>span {
  background-color: #d8cfc8;
  border: solid #c5bdb6 .2pt;
}

.hideslot {
  background-color: inherit !important;
  border: 0 none;
  visibility: hidden;
}

.grid img {
  max-width: 100%;
  max-height: 100%;
}


.buttonbar {
  margin-top: 2em;
  margin-bottom: 2em;
}

.version {
  font-size: .8em;
  margin-bottom: 2em;
}

.item-slot {
  cursor: auto;
}

.item-slot:hover {
  cursor: pointer;
  background-color: #bcb4ae;
  border: solid #938d88 .2pt;
}


 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.img-offhand {
  opacity: 0.5;
}
/* Style the tab content */
/* .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}  */